
.card{
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  border: 1px solid rgba(255,255,255,0.14);
}

.img-temp{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp{
  display: flex;
}
.card-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button-selected{
  color: #213547;
}

@media (max-width:500px) {
  .img-temp{
    flex-direction: column;
  }
}